// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.pre-loader {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  z-index: 999;
}

body {
  padding-bottom: 20px;
//  background: #f4f4f4;
//  background: #2c3e50;
  background: #f8f8f8;
}

hr {
  border-top: 1px solid #e0e0e0;
//  border-top: 1px solid #34495e;
}

footer{
//  color: #ecf0f1;
}

.view-content {
  min-height: 85vh;
}

.navbar {
//  min-height: 30px;
  border-radius: 0%;
}

.navbar-inverse {
  background: #2F4B26 none;
  border: none;
}
.navbar-header .navbar-brand {
  color: #fff;
}
.navbar-collapse {
  overflow: hidden !important;
}
footer {
  text-align: center;
}

.login-container {
  padding-top: 20vh;
  padding-bottom: 15vh;
  //background: #333;
}

.register-container {
  padding-top: 5vh;
  padding-bottom: 5vh;
  //background: #333;
}

.login-form-container, .register-form-container {
  //padding-bottom: 20px;
  background: #ffffff;
}

.form-header {
  background: #333;
  color: #f8f8f8;
  padding: 15px;
}

.form-header h2 {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.form-body {
  padding: 15px;
}

.btn-success {
  border-radius: 0;
  font-size: 16px;
  padding: 10px 24px;
}
.app-body{
  margin-top: 70px;
}
.app-body .row{
  margin: 0;
}
.tool-column {
  padding-left: 0;
}
.tool-panel {
  padding: 15px 0;
}

.contacts-panel {
  background: #bdc3c7;
  height: 400px;
  margin-top: 50px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.details-panel {
  background: #bdc3c7;
  height: 400px;
  margin-top: 50px;
  border-left: 1px solid #ccc;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media (min-width: 768px){
  .workspace-panel {
    margin-left: 15px;
  }
}
.tool-nav-left {
  display: block;
}
.tool-nav-left .btn {
  text-align: left;
  background: none;
  border: none;
  border-left: 2px solid transparent;
  font-weight: bold;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: none;
  color: #22181C;
}
.tool-nav-left .btn:focus, .tool-nav-left .btn:active {
  outline: none;
}
.tool-nav-left .btn:hover {
  background: #f8f8f8;
  border-left: 2px solid #85BDA6;
  color: #85BDA6;
}
.tool-nav-left .btn.active {
  background: #fff;
  color: #3E885B;
  border-left: 2px solid #3E885B;
}
.badge {
  margin-left: 5px;
}
.badge-info {
  background: #336699;
}