// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body{
    padding-bottom: 20px;
    background: #f9f9f9;
}
.navbar{
    min-height: 30px;
    border-radius: 0%;
}
.navbar-inverse{
  background: #336699 none;
  border: none;
}
.navbar-header .navbar-brand{
    color: #fff;
    padding: 5px 5px;
    height: 30px;
    font-size: 16px;
}
.app-content{

}
footer{
    text-align: center;
}